/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
p {
  font-family: "PT Sans";
  color: #606060;
}
header {
  background-color: deepskyblue;
  width: 100%;
}
header nav {
  padding: 40px auto;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 500px) {
  header nav {
    justify-content: center;
  }
}
header a {
  padding: 20px;
  font-family: "PT Sans";
  text-decoration: none;
  color: mintcream;
}
header a:last-child {
  padding-right: 55px;
}
.box-content {
  background: mintcream;
  margin: 5%;
  display: flex;
  border: 2px solid powderblue;
}
.mobile-margin {
  margin: 5%;
}
div.top-box-content {
  background: mintcream;
  margin: 5%;
  display: flex;
  border: 2px solid powderblue;
}
div.top-box-content h1 {
  font-family: "Lato";
  font-size: 2rem;
  padding: 1% 0;
}
div.top-box-content h3 {
  font-family: "Lato";
  font-size: 1.2rem;
  padding: 1% 0;
}
div.top-box-content p {
  padding-bottom: 3%;
}
div.top-box-content button {
  margin-right: 50%;
  padding: 2% 0;
  border-radius: 10px;
  font-size: 1.2rem;
}
@media screen and (max-width: 500px) {
  div.top-box-content {
    margin: 5%;
  }
}
div.top-box-content img {
  width: 25%;
  height: auto;
  border: 2px solid powderblue;
  border-right: 4px solid powderblue;
}
@media screen and (max-width: 800px) {
  div.top-box-content img {
    width: 40%;
  }
}
@media screen and (max-width: 500px) {
  div.top-box-content img {
    width: 50%;
  }
}
div.top-box-content .top-box-content-text {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
div.middle-box-content {
  background: mintcream;
  margin: 5%;
  display: flex;
  border: 2px solid powderblue;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  div.middle-box-content {
    flex-direction: column;
  }
}
div.middle-box-content .middle-box {
  width: 50%;
  margin: 1%;
  padding-bottom: 3%;
}
@media screen and (max-width: 500px) {
  div.middle-box-content .m-box-one {
    width: 100%;
    border-bottom: 2px solid powderblue;
  }
}
div.bottom-box-content {
  margin: 5%;
  border: 2px solid powderblue;
  background-color: mintcream;
}
div.bottom-box-content .Job-History {
  display: flex;
}
div.bottom-box-content .grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding-right: 2%;
}
.grid h4 {
  font-size: 18px;
  padding-bottom: 5px;
}
.grid p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.grid .first {
  padding: 16px 0;
  margin-top: 2px;
}
.grid .second {
  padding: 16px 0;
  margin-top: 2px;
}
.grid .third {
  padding: 16px 0;
  margin-top: 2px;
}
footer {
  background-color: deepskyblue;
  padding: 2%;
}
footer p {
  width: 100%;
  text-align: center;
  padding: 0% auto;
}
